<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f0472781-7900-4ceb-94c5-7592f1ad78fb" Version="1.0.0.0" Publisher="CN=dshevitz" />
  <Properties>
    <DisplayName>ContactsMain</DisplayName>
    <Description>ContactsMain</Description>
    <PublisherDisplayName>dshevitz</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="ContactsMain" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="ContactsMain" ForegroundText="light" BackgroundColor="#0084FF" InitialRotationPreference="portrait">
        <DefaultTile ShowName="true" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.contactPicker" StartPage="contactpicker.html" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>