<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="365cedc1-2118-4abf-b2f8-093a2ccdcea2"
            Publisher="CN=Sam"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>AddDeleteThemeTransition</DisplayName>
    <PublisherDisplayName>Sam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>AddDeleteThemeTransition</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="AddDeleteThemeTransition.App">
        <VisualElements
            DisplayName="AddDeleteThemeTransition"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="AddDeleteThemeTransition"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>