<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="25ad6e3e-572a-4def-b982-19b1dbd4f1d8"
            Publisher="CN=dshevitz"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>ShareMainBetaCS</DisplayName>
    <PublisherDisplayName>dshevitz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>ShareMainBetaCS</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="ShareMainBetaCS.App">
        <VisualElements
            DisplayName="ShareMainBetaCS"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="ShareMainBetaCS"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>