<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c0c77fed-ecdd-4739-b167-899d3f7e656f" Publisher="CN=wolfs" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BackEase_Scale</DisplayName>
    <PublisherDisplayName>wolfs</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>BackEase_Scale</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="BackEase_Scale.exe" EntryPoint="BackEase_Scale.app">
      <VisualElements DisplayName="BackEase_Scale" Logo="Images\Logo.png" SmallLogo="Images\SmallLogo.png" Description="BackEase_Scale" ForegroundText="light" BackgroundColor="#222222">
        <SplashScreen Image="Images\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>