<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="aced06e5-fda5-44b6-9873-ccab64acd4b1"
            Publisher="CN=karler"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Binding_Simple</DisplayName>
    <PublisherDisplayName>karler</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>Binding_Simple</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Binding_Simple.App">
        <VisualElements
            DisplayName="Binding_Simple"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="Binding_Simple"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>