<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:wb="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="97900c2a-e85c-421c-8778-705af6bb7d46" Publisher="CN=blove" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MediaCaptureSnippets</DisplayName>
    <PublisherDisplayName>blove</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MediaCaptureSnippets.App">
      <wb:VisualElements DisplayName="MediaCaptureSnippets" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="MediaCaptureSnippets" ForegroundText="light" BackgroundColor="#464646">
        <wb:SplashScreen Image="Assets\SplashScreen.png" />
      </wb:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>