<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="77299978-a0ec-4e57-84c4-21dce1e023b4"
            Publisher="CN=Sam"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>EntranceThemeTransition</DisplayName>
    <PublisherDisplayName>Sam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>EntranceThemeTransition</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="EntranceThemeTransition.App">
        <VisualElements
            DisplayName="EntranceThemeTransition"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="EntranceThemeTransition"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>