<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="471e84d4-2bd1-4baa-9397-4e78e4a0f4a6"
            Publisher="CN=blove"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>transforms</DisplayName>
    <PublisherDisplayName>blove</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>transforms</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="transforms.exe" 
        EntryPoint="transforms.App">
        <VisualElements 
            DisplayName="transforms"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="transforms"
            ForegroundText="light"
            BackgroundColor="#222222">
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>